<h2><%= @store.name %></h2>


<% if @store.brands.any?%>
  <table class="table">
    <thead>
      <tr>
        <th>Brand Name</th>
      </tr>
    </thead>

    <tbody>
      <% @store.brands.each do |brand| %>
        <tr>
          <td><%= brand.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This store has no shoe brands.</p>
<% end %>
<br>

<div class="row">
  <div class="col-md-12 well">
    <h3>Add Shoe Brand to <%= @store.name %></h3>
    <form action="/add_brand_to_store/<%= @store.id %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <select class="form-control" name="add_brand_to_store">
        <% @all_brands.each do |brand| %>
          <option value="<%= brand.id %>"><%= brand.name %></option>
        <% end %>
      </select>
      <br>
      <button type="submit" class="btn btn-primary">Add Brand to <%= @store.name %></button>
      <button type="button" class="btn btn-info"><a href="/brands">Create a New Brand</a></button>
    </form>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12 well">
    <h3>Update Store Name</h3>
    <form action="/update_store/<%= @store.id %>" method="post">
      <div class="form-group">
        <input type="hidden" name="_method" value="patch">
        <label for="edit_name">Enter New Name</label>
        <input type="text" id="edit_name" name="edit_name" class="form-control">
        <br>
      </div>
      <button type="submit" class="btn btn-primary">Update Store Name</button>
    </form>
    <br>
    <form action="/delete_store/<%= @store.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger">Delete Store</button>
    </form>
  </div>
</div>
<br>

<p><a href="/">Home</a></p>
<p><a href="/stores">Back to Store List</a></p>
<p><a href="/brands">Back to Brands List</a></p>
